<div class="container">
  <div class="col-md-12 margin-top-5per article-block">
    <%= image_tag 'mafin.jpeg', class: 'article-image padding-top-15'%>
    <h1><%= @article.title %></h1>
    <div class="padding-bottom-15" style="padding: 10px">
      <%= simple_format @article.body %>
      <p class="text-right">
        <%= @article.created_at.strftime('%Y/%m/%d') %>
      </p>
    </div>
    <%= link_to '編集', edit_article_path(@article), class: 'btn btn-primary', style: 'margin-bottom: 10px; margin-right: 10px' %>
    <%= link_to '削除', article_path(@article), method: :delete, data: {confirm: '削除してもよろしいですか？'}, class: 'btn btn-danger', style: 'margin-bottom: 10px' %>
  </div>
</div>