<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Cooking</title>
    <script src="https://kit.fontawesome.com/e06771145c.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%# <%= csp_meta_tag  %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= render 'layouts/header'%>

  
    <%= yield %>
  </body>
</html>
